
.utente{
    background-image: url(../../img/person.png);
    background-size: cover;
}
.car{
    background-image: url(../../img/car.png);
    background-size: cover;
}
.listar{
    background-image: url(../../img/listar.png);
    background-size: cover;
}
.consultar{
    background-image: url(../../img/consultar.png);
    background-size: cover;
}

.pagamentos{
    background-image: url(../../img/pay.png);
    background-size: cover;
}

.visitante{
    background-image: url(../../img/visitante.png);
    background-size: cover;
}

.settings{
    background-image: url(../../img/settings.png);
    background-size: cover;
}

.ver-pagamentos{
    background-image: url(../../img/ver-pagamentos.png);
    background-size: cover;
}

.gerir-pagamentos{
    background-image: url(../../img/gerir-pagamentos.png);
    background-size: cover;
}
.update{    background-image: url(../../img/update.png);
    background-size: cover;
}
.remove{    background-image: url(../../img/remove-user.png);
    background-size: cover;
}
.update-user{    background-image: url(../../img/update-user.png);
    background-size: cover;
}
.update-pay{    background-image: url(../../img/update-pay.png);
    background-size: cover;
}
.adicionar-pagamentos{    background-image: url(../../img/adicionar-pagamentos.png);
    background-size: cover;
}
.eraser{    background-image: url(../../img/eraser.png);
    background-size: cover;
}
.update-car{    background-image: url(../../img/update-car.png);
    background-size: cover;}