
.utente{
    background-image: url(../../img/person.png);
    background-size: cover;
}
.novo-carro{
    background-image: url(../img/caricon.png);
    background-size: cover;
}
.listar{
    background-image: url(../../img/listar.png);
    background-size: cover;
}
.consultar{
    background-image: url(../../img/consultar.png);
    background-size: cover;
}

.pagamentos{
    background-image: url(../../img/pay.png);
    background-size: cover;
}

.visitante{
    background-image: url(../../img/visitante.png);
    background-size: cover;
}