.file-input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  .custom-file-label {
    background-color: gray;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .setting-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }